@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    font-family: 'Manrope',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }

html,body{
    background:var(--backgrond);
    color: var(--text-color);
    position: relative;
    background-image: url(assets/blur-2.png), url(assets/blur-1.png) ;
    background-repeat:no-repeat, no-repeat ;
    background-position: top right, bottom left; 
    overflow-y: hidden ;
    
}


/*HEADER*/
.global-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.header{
    width: 918px;
    height: 50px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}


.ul-header{
    display: flex;
    gap: 35px;
    list-style: none;
    cursor: pointer;
}

li:hover{
color: var(--button);
}

.btn-my-coffee{
    background-color: transparent;
    border: 1px solid var(--button);
    font-size: 11px;
    color: var(--text-color);
    padding: 11px 38px;
    font-weight: bolder;
    width: 172px;
    border-radius: 6px;
    transition: background-color 0.5s ease, border-color 0.9s ease;
    cursor: pointer;
}

.btn-my-coffee:hover{
    animation: pulse-border 1s infinite alternate;
    background-color: #8257E5;
    border: 1px solid #FFF;
    transition: background-color 1s ease, border-color 1s ease;
}

/*MAIN*/

.main-content{   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    font-size: 38px;
    font-weight: bold;
}
.h1-custom{
    margin-top: 5px;
      
}

/*PHOTO COFFEE*/
.img-container{
    display: flex;
    justify-content: center;
    margin-top: 84px;
}

.img-coffee{
    width: 798.78px;
    height: 519px;
}

/*barra de rolagem*/

::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: white; /* Cor de fundo */
}

/* Estilo do "polegar" da barra de rolagem (a parte que você arrasta) */
::-webkit-scrollbar-thumb {
    background: var(--button);
    border-radius: 10px;
}


/*mobile class*/

#burguer-menu{
    display: none;
}

.main-mobile{
    display: none;
}

.btn-my-coffee-mobile{
    display: none;
}

.menu-mobile{
    display: none;
}
